<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
    <ini name="memory_limit" value="4G" />
    <!-- on error 255 (especially during coverage), enable error logging -->
    <!-- <ini name="log_errors" value="On" />
    <ini name="error_log" value="/usr/var/workspace/php-errors.log" /> -->
  </php>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">backend/class/</directory>
    </include>
    <report>
      <html outputDirectory=".phpunit/coverage-html" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory suffix=".php">tests</directory>
    </testsuite>
    <testsuite name="lifecycle">
      <directory suffix=".php">tests/lifecycle</directory>
    </testsuite>
    <testsuite name="bucket">
      <directory suffix=".php">tests/bucket</directory>
    </testsuite>
    <testsuite name="cache">
      <directory suffix=".php">tests/cache</directory>
    </testsuite>
    <testsuite name="config">
      <directory suffix=".php">tests/config</directory>
    </testsuite>
    <testsuite name="mail">
      <directory suffix=".php">tests/mail</directory>
    </testsuite>
    <testsuite name="model">
      <directory suffix=".php">tests/model</directory>
    </testsuite>
    <testsuite name="session">
      <directory suffix=".php">tests/session</directory>
    </testsuite>
    <testsuite name="validator">
      <directory suffix=".php">tests/validator</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!-- required for AWS CodeBuild reports -->
    <junit outputFile=".phpunit/report.junit.xml" />
  </logging>
</phpunit>
