<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
  bootstrap="tests/autoload.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
>
  <php>
    <ini name="memory_limit" value="4G"/>
  </php>
  <coverage>
    <include>
      <directory suffix=".php">backend/class/</directory>
    </include>
    <report>
      <html outputDirectory=".phpunit/coverage-html"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory suffix=".php">tests</directory>
    </testsuite>
    <testsuite name="lifecycle">
      <directory suffix=".php">tests/lifecycle</directory>
    </testsuite>
    <testsuite name="bucket">
      <directory suffix=".php">tests/bucket</directory>
    </testsuite>
    <testsuite name="cache">
      <directory suffix=".php">tests/cache</directory>
    </testsuite>
    <testsuite name="config">
      <directory suffix=".php">tests/config</directory>
    </testsuite>
    <testsuite name="database">
      <directory suffix=".php">tests/database</directory>
    </testsuite>
    <testsuite name="extension">
      <directory suffix=".php">tests/extension</directory>
    </testsuite>
    <testsuite name="mail">
      <directory suffix=".php">tests/mail</directory>
    </testsuite>
    <testsuite name="model">
      <directory suffix=".php">tests/model</directory>
    </testsuite>
    <testsuite name="session">
      <directory suffix=".php">tests/session</directory>
    </testsuite>
    <testsuite name="validator">
      <directory suffix=".php">tests/validator</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!-- required for AWS CodeBuild reports -->
    <junit outputFile=".phpunit/report.junit.xml"/>
  </logging>
</phpunit>
